//* main scss style sheet

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
	font-size: 20px;
	font-family: "roboto", sans-serif;
	a {
		text-decoration: none;
	}
	svg {
		height: 20px;
		width: 20px;
	}
	h1 {
		text-align: center;
		font-size: 2rem;
	}
}

body {
	// body is display flex with direction column
	line-height: 1.5;

	background-color: white;
}
// header includes  an image(bg-img with text inside), and paragraph container, and an icons' container
@mixin flexColumn() {
	display: flex;
	flex-direction: column;
}
header {
	@include flexColumn();
	text-align: center;
	.image-background {
		background: linear-gradient(-25deg, white 50%, #0891b2 50%);
		@include flexColumn();
		align-items: center;
		.image {
			p {
				font-size: 2rem;
				color: white;
				margin-top: auto;
			}
		}
	}
	.introduction-container {
		// margin-top: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.image {
		width: 60%;
		height: 400px;
		background-image: url("https://images.pexels.com/photos/7726308/pexels-photo-7726308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
		background-size: cover;
		background-position: center;
		// moving the p down to bottom
		display: flex;
		.my-name {
			color: white;
			font-size: 2rem;
			margin-left: auto;
			margin-top: auto;
		}
	}
}

.introduction-container {
	text-align: left;
	margin: 0px 10px 0px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.icons-container {
	align-self: center;
	display: flex;
	gap: 15px;
	.colored {
		color: black;
	}
}

main {
	border: 1px solid black;
	text-align: center;
	.title {
		font-size: 2rem;
	}
	.project-container {
		display: grid;
		// the goal: resize from 1 column -> 2 column in grid layout
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // if the web -page reach 600px width:
		// or the project reach 500px width -> start to separate project into 2 columns;
		gap: 20px;

		.project {
			// give it a little border blur
			margin: 20px;
			display: flex;
			border: 1px solid black;
			border-radius: 0.1em;
			box-shadow: 2px 3px 10px gray;
			flex-direction: column;

			.project-screen-shot {
				min-height: 300px;
				min-width: 100px;
				background-color: green;
			}
			.project-name-icons-wrapper {
				margin: 5px 15px;
				display: flex;
				justify-content: space-between;
				flex-direction: row;
			}
			p {
				margin: 5px 15px;
				text-align: left;
			}
			.description {
				padding-bottom: 60px;
			}
		}
	}
}
footer {
	border: 1px solid black;
	background-color: #0891b2;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	.contact-container {
		margin: 10px;
	}
	.contact-info {
		font-size: 0.7rem;
		margin: 10px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.icons-container {
		align-self: center;
		font-size: 2rem;
		display: flex;
		gap: 20px;
		.colored {
			color: black;
		}
		padding-bottom: 50px;
	}
	.image {
		background-image: url("https://images.pexels.com/photos/7726308/pexels-photo-7726308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 50vh; // doesn't work
	}
}

@mixin width-greater-than($width) {
	@media (min-width: ($width + 1)) {
		@content;
	}
}

@include width-greater-than(600px) {
	header {
		all: unset;
		background: linear-gradient(-25deg, white 50%, #0891b2 50%);
		display: block;
		padding: 50px;
		.image-background {
			all: unset;
			float: left;
			min-height: 200px;
			.image {
				display: block;
				width: auto;
				height: 60vh;
				p {
					position: relative;
					float: right;
					transform: translate(150px);
				}
			}
		}
		.introduction-container {
			display: block;
			background-color: white;
			border: 1px black solid;
			h1 {
				display: inline;
			}
		}
		// .introduction-container::before {
		// 	content: "";
		// 	align-self: flex-start;
		// 	display: inline-block;
		// 	height: 30vh;
		// 	width: 90px;
		// }
		.icons-container {
			display: none;
		}
	}
	main {
		.title {
			margin-left: 20px;
			margin-top: 10px;
		}
		text-align: left;
	}
}
@include width-greater-than(700px) {
	header {
		background: linear-gradient(-15deg, white 50%, #0891b2 50%);
	}
}
@include width-greater-than(1000px) {
	//
}
/**
 prioritize natural layout first
implementing grid layout for project-containers in main tag.
 starting change layout with media for header tag,
 starting change layout with media queries for footer
*/
